{% extends "MyBase.html" %}

{% block a1 %}
<div class="blockL boat">
    <h1 class="b1"> ART IS FOR- EVER. </h1>
    <h6 class="b2"> Thomas Kinkade</h6>
</div>
{% endblock %}

{% block a2 %}
<div class = "blockR myname" >
    MAIRA
    <div class = myname2> an artist in engineering???</div>
     MALHI
</div>

<div class = "blockR tb1" >
    <div class = "writes2"> ABOUT ME</div>
<p class = "writes1">
    You may be wondering, why would a passionate artist go into engineering?
    Well, the answer to this question is that
    I've always enjoyed expressing my abilities in creativity and
    in trusting my intuition. I find these qualities in both the domains of Engineering
    and Visual Arts. I hope to inspire others
    through both my code and my art!
</p>
</div>

<div class = "blockL">
    <div class ="dis"></div>
</div>

<div class = "blockL">
    <div class = "flynn">
        PENCIL
        PAINT
        MIXED
    </div>

</div>

<div class = "blockR spots">

</div>

{% endblock %}
