{% extends "MyBase.html" %}

{% block a2 %}
<!-Display Paint table->
<div class = blockL>
    <div class = "tablecap">
    MY PREFERENCE: PAINT
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Material</th>
            <th scope="col">Brand</th>
            <th scope="col">Rating</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Acrylic Paint</td>
          <td>Liquitex BASICS</td>
          <td>&#9733 &#9733 &#9733 &#9733 &#9734</td>
        </tr>

        <tr>
          <th scope="row">2</th>
          <td>Acrylic Paint</td>
          <td>Liquitex Soft Body</td>
          <td>&#9733 &#9733 &#9733 &#9733 &#9733</td>
        </tr>

        <tr>
          <th scope="row">3</th>
          <td>Acrylic Paint</td>
          <td>Liquitex Thick Body</td>
          <td>&#9733 &#9733 &#9733 &#9733 &#9733</td>
        </tr>

        <tr>
          <th scope="row">4</th>
          <td>Acrylic Paint</td>
          <td>Pebeo</td>
          <td>&#9733 &#9733 &#9733 &#9733 &#9734</td>
        </tr>

          <tr>
          <th scope="row">5</th>
          <td>Acrylic Paint</td>
          <td>Winsor & Newton</td>
          <td>&#9733 &#9733 &#9733 &#9733 &#9733</td>
        </tr>

        <tr>
          <th scope="row">6</th>
          <td>Oil Paint</td>
          <td>Nobel</td>
          <td>&#9733 &#9733 &#9733 &#9734 &#9734</td>
        </tr>

        <tr>
          <th scope="row">7</th>
          <td>Oil Paint</td>
          <td>Winton Oil</td>
          <td>&#9733 &#9733 &#9733 &#9733 &#9733</td>
        </tr>
        </tbody>
    </table>
</div>

<div class = "blockR inv">
    <div class="invf">INVENTORY</div>
</div>

<!-Display Brush table->
<div class = blockR>
    <div class = "tablecap">
    MY PREFERENCE: BRUSH
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Material</th>
            <th scope="col">Brand</th>
            <th scope="col">Rating</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Fan</td>
          <td>Winsor & Newton</td>
          <td>&#9733 &#9733 &#9733 &#9733 &#9733</td>
        </tr>

        <tr>
          <th scope="row">2</th>
          <td>Rigger</td>
          <td>Winsor & Newton</td>
          <td>&#9733 &#9733 &#9733 &#9733 &#9734</td>
        </tr>

        <tr>
          <th scope="row">3</th>
          <td>Paddle</td>
          <td>Liquitex BASICS</td>
          <td>&#9733 &#9733 &#9733 &#9733 &#9733</td>
        </tr>

        <tr>
          <th scope="row">4</th>
          <td>Splatter</td>
          <td>Liquitex BASICS</td>
          <td>&#9733 &#9733 &#9733 &#9733 &#9734</td>
        </tr>

          <tr>
          <th scope="row">5</th>
          <td>Filbert</td>
          <td>Royal-Langnickle</td>
          <td>&#9733 &#9733 &#9733 &#9733 &#9734</td>
        </tr>

        <tr>
          <th scope="row">6</th>
          <td>Angle Shader</td>
          <td>Royal-Langnickle</td>
          <td>&#9733 &#9733 &#9733 &#9733 &#9734</td>
        </tr>

        <tr>
          <th scope="row">7</th>
          <td>Liner</td>
          <td>Royal-Langnickle</td>
          <td>&#9733 &#9733 &#9733 &#9733 &#9733</td>
        </tr>
        </tbody>
    </table>
</div>


<div class = "blockL brrr">
</div>

<!-Display Pencil table->
<div class = blockL>
    <div class = "tablecap">
    MY PREFERENCE: PENCIL
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Material</th>
            <th scope="col">Brand</th>
            <th scope="col">Rating</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Blender Pencil</td>
          <td>DERWENT</td>
          <td>&#9733 &#9733 &#9733 &#9733 &#9733</td>
        </tr>

        <tr>
          <th scope="row">2</th>
          <td>Coloured Pencils</td>
          <td>Faber Castell</td>
          <td>&#9733 &#9733 &#9733 &#9733 &#9733</td>
        </tr>

        <tr>
          <th scope="row">3</th>
          <td>Coloured Pencils</td>
          <td>Prang</td>
          <td>&#9733 &#9733 &#9733 &#9733 &#9734</td>
        </tr>

        <tr>
          <th scope="row">4</th>
          <td>Coloured Pencils</td>
          <td>Crayola</td>
          <td>&#9733 &#9733 &#9733 &#9734 &#9734</td>
        </tr>

          <tr>
          <th scope="row">5</th>
          <td>Coloured Pencils</td>
          <td>Staedler</td>
          <td>&#9733 &#9733 &#9734 &#9734 &#9734</td>
        </tr>

        <tr>
          <th scope="row">6</th>
          <td>PergaLiner Oil Pencils</td>
          <td>Pergament</td>
          <td>&#9733 &#9733 &#9733 &#9733 &#9733</td>
        </tr>

        <tr>
          <th scope="row">7</th>
          <td>PergaLiner Water Pencils</td>
          <td>Pergament</td>
          <td>&#9733 &#9733 &#9733 &#9733 &#9733</td>
        </tr>

        <tr>
          <th scope="row">8</th>
          <td>Graphite</td>
          <td>General's</td>
          <td>&#9733 &#9733 &#9733 &#9733 &#9733</td>
        </tr>
        </tbody>
    </table>
</div>

{% endblock %}