{% extends "MyBase.html" %}

{% block a2 %}

<!- Display image 1->
<div class="blockL txtimg">
    <a href= "#popup1">
    <img class="dispimg" src="../static/myoilmount.jpeg" height="600px"> </a>
    <div class = bottom-left>DAWN IN OIL</div>
</div>

<!- Popup image 1->
<div id="popup1" class="overlay">
	<div class="popup">
		<a class="close" href="#">&times;</a>
		<div class="content">
			<img src="../static/myoilmount.jpeg" width="100%">
            <p class="mycaps">DAWN IN OIL - 2017</p>
		</div>
	</div>
</div>

<div class = "blockR">
    <div class = "pnts">PAINT</div>
</div>

<!- Display image 2->
<div class="blockR txtimg">
    <a href= "#popup2">
    <img class="dispimg" src="../static/myboatfull.JPG" width="100%"> </a>
    <div class="top-right">LOSE SIGHT OF YOUR SHORE</div>
</div>

<!- Popup image 2->
<div id="popup2" class="overlay">
	<div class="popup">
		<a class="close" href="#">&times;</a>
		<div class="content">
			<img src="../static/myboatfull.JPG" width="100%">
            <p class="mycaps">LOSE SIGHT OF YOUR SHORE - 2017</p>
		</div>
	</div>
</div>

<!- Display image 3->
<div class="blockL txtimg">
    <a href= "#popup3">
    <img class="dispimg" src="../static/paths.jpeg" width="100%"> </a>
    <div class = bottom-left>PATHS</div>
</div>

<!- Popup image 3->
<div id="popup3" class="overlay">
	<div class="popup">
		<a class="close" href="#">&times;</a>
		<div class="content">
			<img src="../static/paths.jpeg" width="100%">
            <p class="mycaps">PATHS - 2017</p>
		</div>
	</div>
</div>

<!- Display image 4->
<div class="blockR txtimg">
    <a href= "#popup4">
    <img class="dispimg" src="../static/serenity.jpg" width="100%"> </a>
    <div class = bottom-left>SERENITY</div>
</div>

<!- Popup image 4->
<div id="popup4" class="overlay">
	<div class="popup">
		<a class="close" href="#">&times;</a>
		<div class="content">
			<img src="../static/serenity.jpg" width="100%">
            <p class="mycaps">SERENITY - 2017</p>
		</div>
	</div>
</div>

<!- Display image 5->
<div class="blockL txtimg">
    <a href= "#popup5">
    <img class="dispimg" src="../static/Sail.JPG" width="100%"> </a>
    <div class = bottom-left>SAIL</div>
</div>

<!- Popup image 5->
<div id="popup5" class="overlay">
	<div class="popup">
		<a class="close" href="#">&times;</a>
		<div class="content">
			<img src="../static/Sail.JPG" width="100%">
            <p class="mycaps">SAIL - 2018</p>
		</div>
	</div>
</div>

<!- Display image 6->
<div class="blockL txtimg">
    <a href= "#popup6">
    <img class="dispimg" src="../static/bloom.jpg" width="100%"> </a>
    <div class = bottom-left>BLOOM</div>
</div>

<!- Popup image 6->
<div id="popup6" class="overlay">
	<div class="popup">
		<a class="close" href="#">&times;</a>
		<div class="content">
			<img src="../static/bloom.jpg" width="100%">
            <p class="mycaps">BLOOM - 2017</p>
		</div>
	</div>
</div>

<!- Display image 7->
<div class="blockR txtimg">
    <a href= "#popup7">
    <img class="dispimg" src="../static/Escapes.jpg" width="100%"> </a>
    <div class = bottom-left>ESCAPE</div>
</div>

<!- Popup image 7->
<div id="popup7" class="overlay">
	<div class="popup">
		<a class="close" href="#">&times;</a>
		<div class="content">
			<img src="../static/Escapes.jpg" width="100%">
            <p class="mycaps">ESCAPE - 2017</p>
		</div>
	</div>
</div>

<!- Display image 8->
<div class="blockL txtimg">
    <a href= "#popup8">
    <img class="dispimg" src="../static/pinkbays.jpg" height="400px"> </a>
    <div class = bottom-left>BY THE BAY</div>
</div>

<!- Popup image 8->
<div id="popup8" class="overlay">
	<div class="popup">
		<a class="close" href="#">&times;</a>
		<div class="content">
			<img src="../static/pinkbays.jpg" width="100%">
            <p class="mycaps">BY THE BAY - 2016</p>
		</div>
	</div>
</div>

<!- Display image 9->
<div class="blockR txtimg">
    <a href= "#popup9">
    <img class="dispimg" src="../static/Sublime.JPG" width="100%"> </a>
    <div class = bottom-left>SUBLIME</div>
</div>

<!- Popup image 9->
<div id="popup9" class="overlay">
	<div class="popup">
		<a class="close" href="#">&times;</a>
		<div class="content">
			<img src="../static/Sublime.JPG" width="100%">
            <p class="mycaps">SUBLIME - 2018</p>
		</div>
	</div>
</div>

<!- Display image 10->
<div class="blockL txtimg">
    <a href= "#popup10">
    <img class="dispimg" src="../static/moonstone.jpg" width="100%"> </a>
    <div class = bottom-left>MOONSTONE</div>
</div>

<!- Popup image 10->
<div id="popup10" class="overlay">
	<div class="popup">
		<a class="close" href="#">&times;</a>
		<div class="content">
			<img src="../static/moonstone.jpg" width="100%">
            <p class="mycaps">MOONSTONE - 2019</p>
		</div>
	</div>
</div>

<!- Display image 11->
<div class="blockR txtimg">
    <a href= "#popup11">
    <img class="dispimg" src="../static/taj.JPG" width="100%"> </a>
    <div class = bottom-left>TAJ</div>
</div>

<!- Popup image 11->
<div id="popup11" class="overlay">
	<div class="popup">
		<a class="close" href="#">&times;</a>
		<div class="content">
			<img src="../static/taj.JPG" width="100%">
            <p class="mycaps">TAJ - 2019</p>
		</div>
	</div>
</div>

<!- Display image 12->
<div class="blockL txtimg">
    <a href= "#popup12">
    <img class="dispimg" src="../static/Angles.JPG" width="100%"> </a>
    <div class = bottom-left>ANGLES</div>
</div>

<!- Popup image 12->
<div id="popup12" class="overlay">
	<div class="popup">
		<a class="close" href="#">&times;</a>
		<div class="content">
			<img src="../static/Angles.JPG" width="100%">
            <p class="mycaps">ANGLES - 2017</p>
		</div>
	</div>
</div>

<div class = "blockL">
    <div class = "pnts2"></div>
</div>

{% endblock %}