{% extends "MyBase.html" %}

{% block a2%}
<!- Display image 1->
<div class="blockL txtimg">
    <a href= "#popup1">
    <img class="dispimg" src="../static/myshades.JPG" width="100%"> </a>
    <div class = bottom-left>SHADES</div>
</div>

<!- Popup image 1->
<div id="popup1" class="overlay">
	<div class="popup">
		<a class="close" href="#">&times;</a>
		<div class="content">
			<img src="../static/myshades.JPG" height="600px">
            <p class="mycaps">SHADES - 2017</p>
		</div>
	</div>
</div>

<div class = "blockR pcs">
    PENCIL
</div>

<!- Display image 2->
<div class="blockR txtimg">
    <a href= "#popup2">
    <img class="dispimg" src="../static/my%20Flynn’s.JPG" width="100%"> </a>
    <div class = bottom-left>RIDER</div>
</div>

<!- Popup image 2->
<div id="popup2" class="overlay">
	<div class="popup">
		<a class="close" href="#">&times;</a>
		<div class="content">
			<img src="../static/myflynn1.jpeg" height="600px">
            <p class="mycaps">RIDER - 2017</p>
		</div>
	</div>
</div>

<!- Display image 3->
<div class="blockR txtimg">
    <a href= "#popup3">
    <img class="dispimg" src="../static/myparrot.jpeg" width="100%"> </a>
    <div class="top-right">FINE FEATHERS</div>
</div>

<!- Popup image 3->
<div id="popup3" class="overlay">
	<div class="popup">
		<a class="close" href="#">&times;</a>
		<div class="content">
			<img src="../static/myparrot.jpeg" height="600px">
            <p class="mycaps">FINE FEATHERS - 2016</p>
		</div>
	</div>
</div>

<!- Display image 4->
<div class="blockL txtimg">
    <a href= "#popup4">
    <img class="dispimg" src="../static/time.jpg" width="100%" > </a>
    <div class="top-right">TIME</div>
</div>

<!- Popup image 4->
<div id="popup4" class="overlay">
	<div class="popup">
		<a class="close" href="#">&times;</a>
		<div class="content">
			<img src="../static/time.jpg" height="600px">
            <p class="mycaps">TIME - 2017</p>
		</div>
	</div>
</div>

<!- Display image 5->
<div class="blockL txtimg">
    <a href= "#popup5">
    <img class="dispimg" src="../static/Gauntlet.jpg" width="100%"> </a>
    <div class="top-right">GAUNTLET</div>
</div>

<!- Popup image 5->
<div id="popup5" class="overlay">
	<div class="popup">
		<a class="close" href="#">&times;</a>
		<div class="content">
			<img src="../static/Gauntlet.jpg" height="600px">
            <p class="mycaps ">GAUNTLET - 2019</p>
		</div>
	</div>
</div>

<div class = "blockR pcs2">
</div>

{% endblock %}